@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
#signup-container {
    background: white;
    border: 5px solid #26a69a;
    margin-top: 100px;
    padding: 25px;
    width: 700px;


}

#login-container {
    background: white;
    border: 5px solid #26a69a;
    margin-top: 100px;
    padding: 25px;
    width: 550px;
}
.nav-wrapper{
    background-color: #006064 !important;
}

body {
    background-color: #757575;
    font-family: Oswald;
}

button {
    background-color: #26a69a !important;

}
#nav-mobile{
    font-size: 1.5em;
}
#login{
    font-size: 1em;
}
#submit-button {
    text-align: center;
    padding-top: 25px;
}

.ui-helper-hidden {
    display: none;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#search-container {
    margin-top: 50px !important;
}

.ui-menu {
        list-style:none;
        padding: 8px;
        margin: 0;
        display:block;
        width:227px;
        background-color: #a4a4a4;

}

.ui-menu-item{
    padding: 8px;
    border-bottom: 1px solid lightgrey;
}
.ui-menu-item .ui-menu-item-wrapper.ui-state-active {
    background: #26a69a !important;
    font-weight: bold !important;
    color: black !important;
}
#movie-container{
    text-align: center;
    padding-top: 20px;
}

#stars{
    margin-bottom:30px;
    text-align: center;
    padding-left: 90px;

}

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}


.rating > label {
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }