{% extends 'movierec/base.html' %}
{% load static %}

{% block content %}
<div  class="container" id="rated-movies-title">
    <h3>Movies you rated</h3></div>
    <hr>
    <div  class="container" id="rated-movies-container">
        <div class="row">

            {% for movie in movies %}
                <div class="col s4">
                    <div class="card blue-grey darken-1">
                        <div class="card-image">
                            <img class=img-resposnive src={{ movie.poster }}>
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <p>{{ movie.title }}</p>
                            </div>
                            <div class="card-action">
                                <div class="container-n" id="stars-rated-movies">
                                    <fieldset class="rating" id="{{ forloop.counter0 }}">
                                        <input type="radio" id="star5" name="rating" value="5"/><label class="full"
                                                                                                       for="star5"
                                                                                                       title="Awesome - 5 stars"></label>

                                        <input type="radio" id="star4" name="rating" value="4"/><label class="full"
                                                                                                       for="star4"
                                                                                                       title="Pretty good - 4 stars"></label>

                                        <input type="radio" id="star3" name="rating" value="3"/><label class="full"
                                                                                                       for="star3"
                                                                                                       title="Ok - 3 stars"></label>

                                        <input type="radio" id="star2" name="rating" value="2"/><label class="full"
                                                                                                       for="star2"
                                                                                                       title="Not good- 2 stars"></label>

                                        <input type="radio" id="star1" name="rating" value="1"/><label class="full"
                                                                                                       for="star1"
                                                                                                       title="Awful- 1 star"></label>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>{% endfor %}
        </div>
    </div>
    <script src="{% static "js/ratedmovies.js" %}"></script>
{% endblock content %}